body{
	text-align: center;
}
.containerText{
	/*background-color: #222; */
	padding: .2em;
	 

}
.textarea__note{
	text-align: center;
	width: 100%;
	display: inline-block;
	font-family: arial;
	font-size: 2em;
	word-spacing: 1.4px;
	letter-spacing: 1.5px;
	line-height: 25px;
	color: #222;
	transform: scale(.9);
	border: 0;
	margin-bottom: -1em;
	padding-top: 1em;
	resize: none;
	border-radius: .4px;
	background-color: #eee

}
.add__note{
	transition: .2s;
	width: 100%;
	height: 40px;
	margin-bottom: 1em;
	border: 0;
	margin-top: .5em;
	position: sticky;
	top:0;
	background-color: blue;
	border-radius: 5px;
	font-size: 20px;
	color: white;
	font-family: sans-serif;
	cursor: pointer;

}
.add__note:hover{
	
	transition: .5s;
	transform: scale(.9);
	
}
.spanClose{

}
.all_note_container {
	display: block;
}
@media screen and (min-width: 700px){

	.all_note_container {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: 50% 50%;
	grid-template-rows: 100%;
 
	grid-row-gap: 5px;
 	
}


.item{
	width: 100%;
}


}
 

 
.title__data{
	display: inline-block;
	font-family: sans-serif;
	margin-bottom: .3em;
	color: blue;
	margin-top: 1em
}

.note__favorite{
	font-family: sans-serif;
	color: blue;
}
.paragraph{
	 word-break: break-all;
	 background: orangered;
	 color: white;
	 font-size: 20px;
	 font-family: arial;
	 padding: 1em;
	 border-radius: 4px;
	 margin-top: 3px;
	 margin-bottom: .3em;
	 margin-left: .3em;
	 word-spacing: 1.4px;
	 line-height: 22px;
	 transition: .5s;
	 cursor: pointer;
}

.blue{
	background: blue;
}
.translate{
	transform: scale(.9);
	transition: .8s;
	opacity: .6;
}


.box__content{
width: 100%;
height: 100vh;
margin-top: 3em
}
.add{
	background-color: blue;
	width: 100%;
	text-align: center;
	font-family: arial;
	border-radius: 4px;
	color: white;
	font-weight: 600;
	border: 0;
	margin-top: .5em;
	margin-bottom: .5em;
	padding: .8em;
	transition: .2s;
	border: 1px solid blue;
}
.add:hover{
	opacity: .8;
	transition: .5s;
	background-color: white;
	border-color:orangered;
	color: orangered;
}
.cancel{
	border: 0;
	font-weight: 600;
	border-radius: 4px;
	font-family: arial;
	background-color: red;
	padding: .8em;
	color: white;
	width: 100%;
}
.cancel:hover{
	opacity: .6;
	transition: .5s;
}


