body{
	margin: 0;
	padding: 0;
}
.menu{
	background-color: rgba(0%, 0%, 0%, 88%);
	color: white;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 10000;
	margin: 0;
	padding:0;
	overflow-y: scroll;
}
.favorite{
 	font-size: 35px;
 	color: yellow;
 	transition: .3s;
 	transform: scale(.9);
}
.favorite:hover{
	transform: scale(.9);
	transition: .5s;
	opacity: .6;
	cursor: pointer;
}
.delete{
 	font-size: 35px;
 	color: red;
 	transition: .3s;
 	transform: scale(.9);
}
.delete:hover{
	transform: scale(.9);
	transition: .5s;
	opacity: .6;
	cursor: pointer;
}
.cancelNote{
	font-size: 35px;
 	color: red; 
 	transition: .3s;
 	transform: scale(.9);	 
}
.cancelNote:hover{
	cursor: pointer;
	transform: scale(.9);
	transition: .5s;
	opacity: .6;
	transform: scale(.9);
}

.editNote{
	font-size: 20px;
 	color: yellow; 
 	transition: .3s;
 	font-size: 40px;
 	transform: scale(.9);
}
.editNote:hover{
	cursor: pointer;
	transform: scale(.9);
	transition: .5s;
	opacity: .6;
}
.efect{
	transform: rotate(20deg) translateX(50px) translateY(-50px);
	transition: 1s;
	opacity: .4;
	animation: efect 2s linear
}
@keyframes efect{
	10%{
		background-color: black;
	}30%{
		background-color: red;
	}50%{
		background-color: black;
	}80%{
		background-color: gold;
	}100%{
		background-color: green;
	}
}
.size{
	font-size: 50px;
	position: sticky;
	top:0;
	background: black;
	width: 100%;
}
.buttonfloat{
	transform: scale(0);
}
.visualizer{
	color: white;
	background: #222;
}
.zoom{
	margin-top: 0;
	background-color: rgba(0%, 0%, 0%, 97%);
	overflow-y: scroll;
	padding-left:.2em;
	padding-right:.2em;
	display: grid;
	grid-auto-flow: row;
	grid-template-rows: repeat(100%, 100%);
	grid-template-columns: repeat(100%);
}
.visualizer{
	margin-top: 0;
	line-height: 25px;
	font-family: Arial;
	font-size: 18px;
	letter-spacing: 1px;
	word-spacing: 1px;
	word-break: break-all;
	background-color: transparent;
}
