body{
	margin: 0;
	padding: 0;
}
.menu{
	background-color: rgba(0%, 0%, 0%, 88%);
	color: white;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 10000;
	margin: 0;
	padding:0;
}
.favorite{
 	font-size: 40px;
 	color: yellow;
 	transition: .3s;
}
.favorite:hover{
	transform: scale(.9);
	transition: .5s;
	opacity: .6;
	cursor: pointer;
}
.delete{
 	font-size: 40px;
 	color: red;
 	transition: .3s;
}
.delete:hover{
	transform: scale(.9);
	transition: .5s;
	opacity: .6;
	cursor: pointer;
}
.cancelNote{
	font-size: 40px;
 	color: red; 
 	transition: .3s;	 
}
.cancelNote:hover{
	cursor: pointer;
	transform: scale(.9);
	transition: .5s;
	opacity: .6;
}

.editNote{
	font-size: 40px;
 	color: yellow; 
 	transition: .3s;
 	font-size: 40px;
}
.editNote:hover{
	cursor: pointer;
	transform: scale(.9);
	transition: .5s;
	opacity: .6;
}
.efect{
	transform: rotate(20deg) translateX(50px) translateY(-50px);
	transition: 1s;
	opacity: .4;
	animation: efect 2s linear
}
@keyframes efect{
	10%{
		background-color: black;
	}30%{
		background-color: red;
	}50%{
		background-color: black;
	}80%{
		background-color: gold;
	}100%{
		background-color: green;
	}
}
